- unless @account.manager_id.nil? || @account.manager_id.empty? || @account.blocking?(current_account)
  .visiting-card__id
    %a.visiting-card__link{ href: "#" }
      = @account.manager_id
  .visiting-card__qrcode
    = image_tag(manager_qrcode_url(username: @account.username))

= javascript_pack_tag 'visiting_card'
